<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>HOTTans</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HOTLogging" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=errorlogging;UID=root;PASSWORD='399027';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTLogging_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=errorlogging;UID=root;PASSWORD='399027';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SDALogging" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=errorlogging;UID=root;PASSWORD='399027';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SDALogging_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=errorlogging;UID=root;PASSWORD='399027';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTSDAPOS" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=selfdefenseproduct;USER=root;PASSWORD='399027';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTSDAPOS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=selfdefenseproduct;USER=root;PASSWORD='399027';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTTans" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=hottans;UID=root;PASSWORD='399027';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTTans_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=hottans;UID=root;PASSWORD='399027';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTProd" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=hotproduct;UID=root;PASSWORD='399027';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=hotproduct;UID=root;PASSWORD='399027';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTSDA" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=hotselfdefense;UID=root;PASSWORD='399027';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTSDA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=hotselfdefense;UID=root;PASSWORD='399027';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HOTLogging-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HOTProd-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HOTSDA-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HOTSDAPOS-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HOTTans-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SDALogging-Web.config Connection String" />
  </ItemGroup>
</Project>