<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://localhost/</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/SDAPOS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="connSDAProd" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=sdaproduct;USER=sdaprod;PASSWORD='my5t1c';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connSDAProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=sdaproduct;USER=sdaprod;PASSWORD='my5t1c';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTSDAPOS" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=SelfDefenseProduct;USER=selfdefenseprod;PASSWORD='my5t1c';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTSDAPOS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=SelfDefenseProduct;USER=selfdefenseprod;PASSWORD='my5t1c';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connSite" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=hottropicaltans.com;DATABASE=hottans;UID=hottans;PASSWORD='my5t1c';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connSite_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=hottropicaltans.com;DATABASE=hottans;UID=hottans;PASSWORD='my5t1c';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connProd" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=hottropicaltans.com;DATABASE=hotproduct;USER=hotproduct;PASSWORD='my5t1c';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=hottropicaltans.com;DATABASE=hotproduct;USER=hotproduct;PASSWORD='my5t1c';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTTans" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=hottropicaltans.com;DATABASE=hottans;UID=hottans;PASSWORD='my5t1c';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTTans_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=hottropicaltans.com;DATABASE=hottans;UID=hottans;PASSWORD='my5t1c';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTProd" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=hottropicaltans.com;DATABASE=hotproduct;USER=hotproduct;PASSWORD='my5t1c';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTProd_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=hottropicaltans.com;DATABASE=hotproduct;USER=hotproduct;PASSWORD='my5t1c';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HOTSDA" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="SERVER=localhost;DATABASE=hotselfdefense;UID=defensemain;PASSWORD='my5t1c';" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HOTSDA_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="SERVER=localhost;DATABASE=hotselfdefense;UID=defensemain;PASSWORD='my5t1c';" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>